<% if !!flash[:message] %> 
<%= flash[:message] %> 
<% end %>

<h1>Community Library</h1>

<h2>These are your books:</h2>
<% @user.books.all.each do |book| %>
  <ul>
    <a href="/bookshelf/<%=book.slug%>"><%= book.title %></a>
  </ul>
<% end %>

<a href="/bookshelf/new">Add a new book to your collection</a>

<h2>Books available for borrowing:</h2>

<% if @books.select { |book| book.status == "available" && book.user_id != @user.id } == [] %>
  <strong>No books available for borrowing? Update books in your library so they're available for borrowing and watch the list grow! </strong>
<% else %>
  <% @books.each do |book| %>
    <% if book.status == "available" && book.user_id != @user.id %>
      <ul>
      <a href="/bookshelf/<%=book.slug%>/borrow"><%= book.title %></a>
      </ul>
    <% end %>
  <% end %>
<% end %>

<!-- All book links in this section interpolate book.slug/borrow for url -->

<h2>Books you are currently borrowing:</h2>

<% if @books.select { |book| book.status == "borrowed" && book.borrower == @user.id } == [] %>
  <strong>Not borrowing any books? Get on it!</strong>
<% else %>
  <% @books.each do |book| %>
    <% if book.status == "borrowed" && book.borrower == @user.id %>
      <ul>
      <a href="/bookshelf/<%=book.slug%>/return"><%= book.title %></a>
      </ul>
    <% end %>
  <% end %>
<% end %>

<!-- All book links in this section interpolate book.slug/return for url -->

<p> If you're done, don't forget to <a href="/logout">logout</a>, but return soon.


