<h1>Below is the info about the book you selected:</h1>

    <p>Title: <%= @book.title %></p>
    <p>Year Published: <%= @book.year_published %></p>
    <p>Language: <%= @book.language %></p>
    <% if @book.status == 'borrowed' %>
      <% borrower = User.find(@book.borrower) %>
      <p>Status: Borrowed by <%= borrower.name %></p>
    <% end %>
    <p> Author: <% @book.authors.all.each do |author| %>
        <ul><%= author.name %></ul>
    <% end %></p>
    <p>Genre: <% @book.genres.all.each do |genre| %>
       <ul><%= genre.name %></ul>
    <% end %></p>

    <br></br>
    <form method="post" action="/bookshelf/<%=@book.slug%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Book">
    </form>
    <br></br>
    <a href="/bookshelf">Return to your bookshelf.</a>
    <br></br>
    <a href="/bookshelf/<%=@book.slug%>/edit">Edit this book's info.</a>