<% if !!flash[:message] %> 
<%= flash[:message] %> 
<% end %>

<!DOCTYPE html>
<html>
<head>
  <style>
    h1, p, form { padding-left: 1cm; }
    ul  { padding-left: 2cm; }
    div { padding-left: 1cm; padding-bottom: 1cm;}
  </style>
</head>
<body>

<h1>Below is the info about the book you selected:</h1>

    <%= erb :'/books/_template_show_basic_info', locals: {book: @book} %>

    <% if @book.borrowed? %>
      <% borrower = User.find(@book.borrower) %>
      <p><strong>Status: </strong>Borrowed by <%= borrower.name %></p>
    <% elsif @book.available? %>
      <% status = "Available for the community to borrow" %>
      <p><strong>Status: </strong><%= status %></p>
    <% else %>
      <p><strong>Status: </strong>Private - not available for the community to borrow</p>
    <% end %>


     <%= erb :'/books/_template_show_author_genre', locals: {book: @book} %>

    <br></br>
    <form method="post" action="/bookshelf/<%=@book.slug%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Book">
    </form>
    <br></br>
    <div>
    <a href="/bookshelf/<%=@book.slug%>/edit">Edit</a>  |  <a href="/bookshelf">Back</a>
    </div>
</body>
</html>