<% if !!flash[:message] %> 
<%= flash[:message] %> 
<% end %>

<!DOCTYPE html>
<html>
<head>
  <style>
    h1, p, form { padding-left: 1cm; }
    ul  { padding-left: 2cm; }
    a { padding-left: 1cm; padding-bottom: 1cm;}
  </style>
</head>
<body>

<h1>Below is the info about the book you selected:</h1>

    <p><strong>Title: </strong><%= @book.title %></p>
    <% if @book.year_published.nil? %>
      <p>Year Published: N/A</p>
    <% else %>
      <p>Year Published: <%= @book.year_published %></p>
    <% end %>
    <% if @book.language.nil? || @book.language == "" %>
      <p>Language: N/A</p>
    <% else %>
      <p>Language: <%= @book.language %></p>
    <% end %>
    <% if @book.status == "borrowed" %>
      <% borrower = User.find(@book.borrower) %>
      <p>Status: Borrowed by <%= borrower.name %></p>
    <% elsif @book.status == "available" %>
      <% status = "Available for the community to borrow" %>
      <p>Status: <%= status %></p>
    <% else %>
      <p>Status: Private - not available for the community to borrow</p>
    <% end %>
    <% if @book.authors.nil? || @book.authors == [] %>
      <p>Author(s): N/A</p>
    <% else %>
      <p> Author(s): <% @book.authors.order(:name).all.each do |author| %>
          <ul><%= author.name %></ul>
      <% end %></p>
    <% end %>
    <% if @book.genres.nil? || @book.genres == [] %>
      <p>Genres(s): N/A</p>
    <% else %>
      <p>Genre(s): <% @book.genres.order(:name).all.each do |genre| %>
         <ul><%= genre.name %></ul>
      <% end %></p>
    <% end %>

    <br></br>
    <form method="post" action="/bookshelf/<%=@book.slug%>/delete">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete Book">
    </form>
    <br></br>
    <a href="/bookshelf/<%=@book.slug%>/edit">Edit this book's info.</a>
    <br></br>
    <a href="/bookshelf">Return to your bookshelf.</a>
</body>
</html>